/*Null_Style*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



.body{
	background-color: #fdfdfd;

}
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.container>img{
	min-width: 100%;
}
.footer{
	font-size: 12px;
	font-family: HelveticaNeue;
	min-height: 80px;
	background-color: #f5f5f5;
	margin-top: auto;
	color: #a6a6a6;

}
.footer p:first-child {
 
  float: right;
  margin-top: 30px;
}
.footer p:nth-child(2){
	
	margin-top: 30px;
	float: left;
}
/* header */


.header_bottom {


}
.header_bottom_column {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	

}
.header_bottom_menu {
	
}
.header_bottom_list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.header-bottom_menu_link {
	display: flex;
	flex-direction: column-reverse;
	padding: 40px 23px;
	color: #474747;
	font-size: 20px;
	font-family: Bebas Neue;
	line-height: 1.05;
	
}
.header-bottom_menu_link span{
	color: #d2d2d2;
	
	padding-bottom: 5px;
	font-size: 12px;
}

.header_logo {
	padding-top: 40px;
	font-size: 42px;
	font-family: Pacifico;
	color: #474747;
	line-height: 0.429;
}
.header_logo a{
	font-size: 42px;
	font-family: Pacifico;
	color: #474747;
	line-height: 0.429;
}
.link2{
	padding: 40px 35px 40px 35px;
}

/* end header */
/* start jesus */
.first_block_wrapper {
	max-height: 600px;
}
.first_img_jesus {
	height: 500px;
	background-image: url(img/img.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
	position:relative;
	
	
}
.future_work {
	background-color: #404040;
	height:75px;
	max-width: 100%;
	bottom: 0%;
	left: 0%;
	position: absolute;



}
.future_work p{
	padding: 15px 25px 5px 15px;
	font-size: 28px;
	font-family: "Bebas Neue";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
}
.future_work p span{
	
    font-size: 14px;
    font-family: "Bebas Neue";
    color: rgb(154, 154, 154);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;

}
.indicator{
	bottom: -0.1%;
	left: 50%;
	position: absolute;



}
.hyphens {
	width: 140px;
	height: 20px;
	position: absolute;
	bottom: 0%;
	right: 0;
}
.hyphens a{
	margin-right: 5px;
}

.text_jesus {
	background-color: #f6f6f6;
	text-align: left;
	max-height: 600px;
	padding: 20px 5px;
}
.text_jesus p span{
  font-size: 16px;
  font-family: "Bebas Neue";
  color: rgb(71, 71, 71);
  line-height: 2.313;

}
.text_jesus p {
  font-size: 12px;
  font-family: "HelveticaNeue";
  color: rgb(71, 71, 71);
  line-height: 1.167;
  text-align: left;
}

/* end jesus */

/* start FIND  OUT  MORE*/

.find_out_more {
	max-width: 100%;
	max-height: 600px;
	margin-top: 80px;
	padding: 80px 0px;

}
.flex_find_out_more {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	

}
.latest_project {
	display: block;
	position: relative;
	width: 320px;


}


.latest_project>a{
	text-align: center;
	font-size: 20px;
	font-family: "Bebas Neue";
	color: rgb(70, 70, 70);
	line-height: 1;
	padding-left: 10px;
}
.latest_project>a>img {
	float: left;
}
.text_latest_project{
	margin: 30px 5px;
}

.link_more{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.link_more img{
padding-right: 10px;

}
.link_more p{
	text-align: left;
}
/* end FIND  OUT  MORE*/

/* start Latest Work*/
.wrapper_line{
	display: block;
	position: relative;
}
.wrapper_line hr{
	position: absolute;
    z-index: 10;
    width: 100%;
}

.text_latest_work {
	margin-left: 40%;
	position: absolute;
	z-index: 11;
	background-color: #ffffff;
	

}
.text_latest_work p{

	text-align: center;
  	font-size: 18px;
  	font-family: "Bebas Neue";
  	color: rgb(71, 71, 71);
  	line-height: 1;
  	padding: 7px 25px;
  	
  	
 


}

.grey_line {
    z-index: 10;
	margin: 0px;
	height: 30px;
	border: none;
	box-sizing: border-box;
	background-position: 50%;
	background-image: url(img/div.png);
	background-size: 6px 6px;
}
/* end Latest Work*/
/* start Last block*/
.last_wrapper {
	width: 100%;
	height: 25%;
	margin: 35px 0px 15px 0px;
}
.last_block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;



}
.content_last {
	display: block;
	position: relative;
}

.content_last img{
	margin: 30px 0px 10px 0px;
}
.content_last p{

  font-size: 12px;
  font-family: "HelveticaNeue";
  color: rgb(65, 65, 65);
  line-height: 1.286;
  padding: 20px 0px;	
}
.content_last span{
	font-size: 12px;
  	font-family: "Bebas Neue";

}



/* end Last block*/




/* BLOG */
/* Right BLOG Container */

.title_blog{
	margin-left: 3px;
	max-width: 525px;
	max-height: 90px;
	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: rgb(158, 158, 158);
  	font-style: italic;
  	line-height: 1.5;
  	text-align: left;
  	overflow: auto;
}
.title_blog::-webkit-scrollbar {
    display: none;
}
.title_blog p  b {
	font-size: 24px;
  	font-family: "Bebas Neue";
  	color: rgb(71, 71, 71);
  	line-height: 1.5;
  	text-align: left;
}

.right_Blog_container {
	max-width: 665px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.first_right_Blog {
}
.title {
	font-size: 15px;
	font-family: "Bebas Neue";
	color: rgb(70, 70, 70);
	line-height: 1.2;
	text-align: left;
	padding: 10px 5px;
}
.left_title {
	margin: 20px 30px 40px 0px;
	font-size: 12px;
  	font-family: "Bebas Neue";
  	color:#a6a6a6;
  	line-height: 1;
  	text-transform: capitalize;
}
	
.left_title>b {
	font-size: 12px;
  	font-family: "Bebas Neue";
  	color: rgb(70, 70, 70);
  	line-height: 1;
  	text-transform: uppercase;
  	margin-bottom: 10px;
  

}
.text_for {
	max-width: 512px;
	display: block;
	float: right;
	font-size: 12px;
  	font-family: "Helvetica Neue";
  	color: rgb(65, 65, 65);
  	line-height: 1.5;
  	margin-top: 15px;
}
.text_for p{
	margin-top: 15px;
}
.blog_container{
	display: flex;
	flex-direction: row;

}
.left_blog_wrapper{
	display: block;
	float: right;
	margin: 0 0 20px 20px;

}
.left_Blog_container{
	max-width: 230px;
	display: flex;
	margin-top: 53px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	overflow: hidden;

}
.left_Blog_container >b{
	font-size: 12px;
  	font-family: "Bebas Neue";
  	color: rgb(70, 70, 70);
  	line-height: 1.2;
  	text-align: left;
  	text-transform: uppercase;
  	padding-bottom: 20px;
}
.left_Blog_container >p{
	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: rgb(70, 70, 70);
  	line-height: 1.2;
  	text-align: left;
  	padding-top: 20px;
  	padding-bottom: 20px;
}
.left_Blog_container >p>span{
	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: #cbcbcb;
  	line-height: 1.167;
  	text-align: left;
}

/* ENDRight BLOG Container */
/* END BLOG */



/* START CONTACT */

.contact_text{
	font-size: 12px;
  	font-family: "Helvetica Neue";
  	color: rgb(70, 70, 70);
  	line-height: 1.2;
  	padding: 20px 5px;
}
.forms {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;

}
.forms input{
	font-size: 16px;
	font-weight: bold;
  	line-height: 4.514;
	color: #000000;
	height: 40px;
	width: 220px;
	margin-bottom: 10px;
	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(238, 238, 238);
  	background-color: rgb(250, 250, 250);

}

.forms input::placeholder {
	position: relative;
	font-weight: 600;
	left: 5px;
	bottom: 0px;
  	font-size: 12px;
  	font-family: "Bebas Neue";
  	color: rgb(198, 198, 198);
  	line-height: 2.333;
}
.forms textarea{
	height: 200px;
	width: 500px;
	font-size: 16px;
	font-weight: bold;
  	line-height: 4.514;
	color: #000000;
	margin-bottom: 10px;
	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(238, 238, 238);
  	background-color: rgb(250, 250, 250);
}
.forms textarea::placeholder{
	position: relative;
	font-weight: 600;
	left: 150px;
	top: 50px;
  	font-size: 25px;
  	font-family: "Bebas Neue";
  	color: rgb(198, 198, 198);
  	line-height: 2.333;

}
.forms textarea:focus::placeholder {
  color: transparent;
}
.forms textarea::-webkit-scrollbar {
    display: none;
}

.forms input:focus::placeholder {
  color: transparent;
}


/* END CONTACT */

/* START ABOUT */
.title_about{
	margin-left: 3px;
	max-width: 100%;
	max-height: 90px;
	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: rgb(158, 158, 158);
  	font-style: italic;
  	line-height: 1.5;
  	text-align: left;
  	overflow: auto;
  }

.title_about::-webkit-scrollbar {
    display: none;
}
.title_about p  b {
	font-size: 24px;
  	font-family: "Bebas Neue";
  	color: rgb(71, 71, 71);
  	line-height: 1.5;
  	text-align: left;
}

.about_flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.our_philosophy {
	padding: 30px 5px 45px 5px;
}
.our_philosophy>span{
	font-size: 18px;
  	font-family: "Bebas Neue";
  	color: rgb(71, 71, 71);
  	line-height: 1;
 	text-align: left;
}
.our_philosophy p:nth-child(2){
	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: rgb(158, 157, 157);
  	line-height: 1.5;
  	text-align: left;
  	padding-top: 20px;
}
.our_philosophy p:nth-child(3){
	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: rgb(71, 71, 71);
  	line-height: 1.5;
  	text-align: left;
  	padding-top: 20px;

}

.our_mission {
	padding: 30px 5px 45px 5px;
}
.our_mission>span{
	font-size: 18px;
  	font-family: "Bebas Neue";
  	color: rgb(71, 71, 71);
  	line-height: 1;
 	text-align: left;

}
.our_mission p:nth-child(2){
	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: rgb(158, 157, 157);
  	line-height: 1.5;
  	text-align: left;
  	padding-top: 20px;
}
.our_mission p:nth-child(3){
	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: rgb(71, 71, 71);
  	line-height: 1.5;
  	text-align: left;
  	padding-top: 20px;

}
.our_history {
	padding: 30px 5px 45px 5px;
}
.our_history>span{
	font-size: 18px;
  	font-family: "Bebas Neue";
  	color: rgb(71, 71, 71);
  	line-height: 1;
 	text-align: left;
}
.our_history p:nth-child(2){
	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: rgb(158, 157, 157);
  	line-height: 1.5;
  	text-align: left;
  	padding-top: 20px;

}
.our_history p:nth-child(3){
	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: rgb(71, 71, 71);
  	line-height: 1.5;
  	text-align: left;
  	padding-top: 20px;

}
.profile_flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 90px;
}
.profile {
	max-width:300px ;
	max-height: 235px;
	display: block;
	position: relative;
	overflow: auto;

}
.profile img {
	margin-bottom: 10px;
}
.profile>span>b{
	font-size: 18px;
	font-family: "Bebas Neue";
	color: rgb(71, 71, 71);
	line-height: 1;
	text-align: left;
}
.profile p{
  	font-size: 12px;
  	font-family: "HelveticaNeue";
  	color: rgb(81, 81, 81);
  	line-height: 1.333;
  	text-align: left;
  	margin-top: 5px;
}
.profile::-webkit-scrollbar {
    display: none;
}
.date{
	float: right;
	margin-right: 35px;
  	font-size: 12px;
  	font-family: "Bebas Neue";
  	color: rgb(81, 81, 81);
  	line-height: 1.333;
 

}
.position {
  	font-size: 12px;
  	font-family: "Bebas Neue";
  	color: rgb(148, 147, 147);
  	line-height: 1.5;
  	text-align: left;
}


/* END ABOUT */

	
}
